// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';

.textoBienvenida {
    margin-top: 150px !important;
    margin-bottom: 70px !important;
}

.style_circle {
    color: #F9DF5B;
}

.check_circle {
    margin-left: 10px;
}

.inversionImage {

    position: relative;
    width: 670px;
    height: 380.76px;
    left:9px;
    top: 150px

}
