.textoBienvenida {
    margin-top: 150px !important;
    margin-bottom: 70px !important;
}

.style_circle {
    color: #F9DF5B;
}

.check_circle {
    margin-left: 10px;
}

.inversionImage {

    position: relative;
    width: 270px;
    height: 220.76px;
    left:9px;
    top: 150px

}
